.big-container{
    display: flex;
    flex-direction: row;
}
.container{
    display:flex;
    flex-wrap: wrap;
    padding-top: 85px;

}
.heading-content{
    text-decoration: underline;
    padding-left: 25px;
}
.form-cfp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}