.form-outer {
    margin-top: 13vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 10vh;
}


.bigContainer{
    display: flex;
    flex-direction: row;
    width: 60vw !important;
}
.container{
    display:flex;
    flex-wrap: wrap;
}



