/* .container {
    height: min-content;
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
  } */
  .imageContainer {
    background-image:
    linear-gradient(45deg,
      rgba(66, 185, 245, 0.1),
      rgba(3, 55, 107, 0.6)), url('../Images/audi.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    width: 100%;
    height: 99vh;
    text-align: center;
      color: #fff;

}