*{
  margin: 0;
}


.palette {
  background-color:  #101d2c;
  background-color: #54483A;
  background-color:  #1b334f;
  background-color: #4e3111;
  background-color:  #839ab6;
  background-color:  #0c5285;
}